#sb .jumbotron {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  background-color: #fff;
}
#sb .jumbotron .inner {
  position: relative;
  z-index: 2;
}
#sb .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
#sb .container-fluid {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  #sb .container-md-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
}
#sb .jumbotron p {
  font-size: 14px;
  font-weight: normal;
}
#sb .alert {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  padding: 9px 19px 9px 15px;
  border-radius: 3px;
  font-size: 13px;
  border-width: 0;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
#sb .panel.panel-transparent {
  background: transparent;
  box-shadow: none;
  border: none;
}
#sb .panel.panel-transparent .panel-body {
  background: transparent;
}
#sb .panel .panel-body {
  padding: 20px;
  width: 100%;
}
#sb .card {
  padding-bottom: 0;
  margin-bottom: 0;
  background: #FFF;
  float: left;
  position: relative;
  border-radius: 4px 4px 2px 2px;
  margin-bottom: 20px;
  border: 1px solid #f8f8f8;
}
#sb h1, #sb h2, #sb h3, #sb h4, #sb h5, #sb h6 {
  margin: 10px 0;
  font-family: "Karla",sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-weight: 300;
  color: #626262;
}
#sb .card img {
  width: 100%;
}
#sb small, #sb .small {
  line-height: 18px;
}
#sb h5 {
  font-size: 15px;
  line-height: 25.88px;
}
#sb .btn-cons {
  margin-right: 5px;
  min-width: 120px;
}
#sb label, #sb input, #sb button, #sb select, #sb textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
#sb .btn {
  font-family: "Karla",sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  margin-bottom: 0;
  border: 1px solid #f0f0f0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-image: none !important;
  color: #626262;
  background-color: #ffffff;
  text-shadow: none;
  line-height: 21px;
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}
#sb .timeline-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
#sb .panel {
  /* -webkit-box-shadow: none; */
  box-shadow: none;
  /* border-radius: 1px; */
  /* -webkit-border-radius: 1px; */
  -moz-border-radius: 1px;
  /* -webkit-transition: all 0.2s ease; */
  transition: all 0.2s ease;
  position: relative;
}
#sb .panel .panel-heading {
  background: transparent;
  border-radius: 0px;
  border-bottom: 0px;
  padding: 20px 20px 7px 20px;
  position: relative;
  z-index: 3;
  min-height: 48px;
}
#sb .panel .panel-heading .panel-title {
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.02em;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke:0px grey;
  filter: alpha(opacity=40);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#sb .panel .panel-heading + .panel-body {
  padding-top: 0;
  height: calc(50%);
}
#sb .panel .panel-body {
  padding: 20px;
  width: 100%;
}
#sb p {
  display: block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  line-height: 22px;
  margin: 0px 0px 10px 0px;
  font-style: normal;
  white-space: normal;
}
#sb a, #sb a:focus, #sb a:hover, #sb a:active {
  outline: 0 !important;
  text-decoration: none;
}
#sb a {
  text-shadow: none !important;
  color: #777;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}
#sb .btn:hover, #sb .btn:focus, #sb .btn:active, #sb .btn.active, #sb .btn.disabled, #sb .btn[disabled] {
  box-shadow: none;
}
#sb .btn:hover {
  background-color: #fafafa;
  border: 1px solid rgba(98, 98, 98, 0.27);
}
#sb .btn-cons {
  margin-right: 5px;
  min-width: 120px;
}
#sb .btn {
  font-family: "Karla",sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.01em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  margin-bottom: 0;
  border: 1px solid #f0f0f0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-image: none !important;
  color: #626262;
  background-color: #ffffff;
  text-shadow: none;
  line-height: 21px;
  padding-left: 17px;
  padding-right: 17px;
  position: relative;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}
@media (max-width: 991px) {
  #sb .panel {
    height: auto !important;
  }
  #sb .widget-8,
  #sb .widget-9,
  #sb .widget-10 {
    height: 180px !important;
  }
}
#sb .profile-dropdown-toggle {
  background: transparent;
  border: none;
}
#sb .scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#sb .no-padding {
  padding: 0px !important;
}
#sb .no-margin {
  margin: 0px !important;
}
#sb .no-overflow {
  overflow: hidden !important;
}
#sb .auto-overflow {
  overflow: auto !important;
}
#sb .reset-overflow {
  overflow: initial !important;
}
#sb .center-margin {
  margin-left: auto;
  margin-right: auto;
}
.cards {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 8px 1px rgba(80, 80, 80, 0.02);
  margin: 10px;
  margin-bottom: 30px;
  border: 1px solid #efefef;
  padding: 18px 9px 5px;
  text-align: center;
  width: 182px;
}


