.vm--container{
	display: block;
	overflow-y: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-header {
	padding: 20px;
	border-bottom: 1px solid transparent;
}
.modal-header {
	position: relative;
	padding-bottom: 0;
}

.fa{
	font-size: 15px;
}

.modal-header .close[type=button] {
	background: rgba(255,255,255,0.3);
	width: 25px;
	height: 25px;
	display: block;
	border-radius: 20px;
	color: #000;
	font-weight: bold;
	margin-top: -3px;
	margin-right: -10px;
}
.modal-header .close {
	position: absolute;
	right: 20px;
	top: 50%;
	/* margin-top: 0; */
}
.modal-title {
	margin: 0;
	line-height: 1.5384616;
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.error_field_message {
	font-size: 1.2rem;
	color: red;
	display: block;
	margin-top: 5px;
}
input[type=text].error {
	border-color: red!important;
}
.form-control:focus {
	border-color: #4DB6AC;
	outline: none;
}
P{
	font-size: 14px;
}
.close {
	font-size: 17px;
	text-shadow: none;
	opacity: 0.6;
	filter: alpha(opacity=60);
	line-height: 1;
}
.close:hover, .close:focus {
	outline: 0;
	opacity: 1;
	color: black;
	filter: alpha(opacity=100);
}
.modal-body {
	padding: 20px 20px 60px 20px;
	position: relative;
}
.form-group {
	margin-bottom: 20px;
	position: relative;
}
.form-group label {
	margin-bottom: 5px;
	display: block;
	font-weight: 600;
	line-height: 24px;
}
label {
	max-width: 100%;
}
.form-control{
	font-size: 13px;
	border-radius: 5px;
	border: 1px solid rgba(204, 204, 204, 0.34);
	font-weight: 500;
	box-shadow: none;
	display: block;
	width: 90%;
	padding: 7px 12px;
	line-height: 1.5384616;
	color: #333333;
	background-color: #fff;
	background-image: none;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:hover {
	border-color: #aaa;
}
.form-control:focus {
	border-color: #4DB6AC;
}
input {
	font: inherit;
}
strong {
	font-weight: 600;
}
.modal-footer {
	padding-top: 0;
	padding: 20px;
	text-align: right;
	border-top: 1px solid transparent;
}
.btn-default {
	color: #333;
	background-color: #fcfcfc;
	border-color: #ddd;
}
.modal-footer .btn + .btn {
	margin-left: 5px;
	/* margin-bottom: 0; */
}
.btn-primary:hover {
	color: #fff;
	/* background-color: #0c7cd5; */
	border: 1px solid transparent !important;
}
.p-x-y{
	padding-left: 30px;
	padding-right: 30px;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}
.flex-item-left {
	flex: 32%;
}

.flex-item-right {
	flex: 68%;
}
ul{
	list-style: none;
}
.nav-menu{
	position: absolute;
	top: 20%;

}
.nav-menu ul {
	padding-left: 50px;
	position: relative;
}
.nav-menu ul::after{
	content: "";
	position: absolute;
	width: 2px;
	height: calc(100% - 50px);
	left: 40px;
	top: 0;
	background: #0DCBE5;
	margin-top: 30px;
}
.nav-menu ul li {
	padding: 40px 0 40px 20px;
}
.nav-menu ul li a{
	text-decoration: none;
	position: relative;
	color: #FFFFFF;
}
.nav-menu ul li a::before{
	content: "";
	position: absolute;
	background: #365899;
	width: 30px;
	height: 30px;
	left: -30px;
	/*top: 50%;*/
	transform: translate(-50%);
	border-radius: 50px;
	border: 1px solid #0DCBE5;
}
.service-card{
	border: 1px solid #365899;
	border-radius: 5px;
	cursor: pointer;
	color: #A9A9A9!important;
	padding: 25px;
}
.service-card:hover{
	 background: #9cb6e1;
	 color: #333333!important;
}

.onboarding-card {
	margin-bottom: 25px;
	box-shadow: 0 0 .975rem 0 rgb(41 48 66/8%)!important;
	color: #333333;
	text-align: center;
	cursor: pointer;
	width: 182px;
}
